<div class="header-wrapper">
{{with .Repository}}
	<div class="ui container">
		<div class="repo-header">
			<div class="repo-title-wrap df fc">
				<div class="repo-title">
					{{$avatar := (repoAvatar . 32 "mr-3")}}
					{{if $avatar}}
						{{$avatar}}
					{{else}}
						{{template "repo/icon" .}}
					{{end}}
					<a href="{{AppSubUrl}}/{{.Owner.Name}}">{{.Owner.Name}}</a>
					<div class="mx-2">/</div>
					<a href="{{$.RepoLink}}">{{.Name}}</a>
					<div class="labels df ac fw">
						{{if eq .LowerName "pages"}}
							<span class="ui basic label">
								<a href="https://{{.Owner.Name}}.codeberg.page" target="_blank">
									Visit Page {{svg "octicon-link-external" 16}}
								</a>
							</span>
						{{end}}
						{{if .IsTemplate}}
							{{if .IsPrivate}}
								<span class="ui basic label">{{$.i18n.Tr "repo.desc.private_template"}}</span>
							{{else}}
								{{if .Owner.Visibility.IsPrivate}}
									<span class="ui basic label">{{$.i18n.Tr "repo.desc.internal_template"}}</span>
								{{end}}
							{{end}}
						{{else}}
							{{if .IsPrivate}}
								<span class="ui basic label">{{$.i18n.Tr "repo.desc.private"}}</span>
							{{else}}
								{{if .Owner.Visibility.IsPrivate}}
									<span class="ui basic label">{{$.i18n.Tr "repo.desc.internal"}}</span>
								{{end}}
							{{end}}
						{{end}}
						{{if .IsArchived}}
							<span class="ui basic label">{{$.i18n.Tr "repo.desc.archived"}}</span>
						{{end}}
					</div>
				</div>
				{{if .IsMirror}}<div class="fork-flag">{{$.i18n.Tr "repo.mirror_from"}} <a target="_blank" rel="noopener noreferrer" href="{{if .SanitizedOriginalURL}}{{.SanitizedOriginalURL}}{{else}}{{(MirrorRemoteAddress $.Mirror).Address}}{{end}}">{{if .SanitizedOriginalURL}}{{.SanitizedOriginalURL}}{{else}}{{(MirrorRemoteAddress $.Mirror).Address}}{{end}}</a></div>{{end}}
				{{if .IsFork}}<div class="fork-flag">{{$.i18n.Tr "repo.forked_from"}} <a href="{{.BaseRepo.Link}}">{{SubStr .BaseRepo.RelLink 1 -1}}</a></div>{{end}}
				{{if .IsGenerated}}<div class="fork-flag">{{$.i18n.Tr "repo.generated_from"}} <a href="{{.TemplateRepo.Link}}">{{SubStr .TemplateRepo.RelLink 1 -1}}</a></div>{{end}}
			</div>
			{{if not .IsBeingCreated}}
				<div class="repo-buttons">
					{{if $.RepoTransfer}}
						<form method="post" action="{{$.RepoLink}}/action/accept_transfer?redirect_to={{$.RepoLink}}">
							{{$.CsrfTokenHtml}}
							<div class="ui poping up" data-content="{{if $.CanUserAcceptTransfer}}{{$.i18n.Tr "repo.transfer.accept_desc" $.RepoTransfer.Recipient.DisplayName}}{{else}}{{$.i18n.Tr "repo.transfer.no_permission_to_accept"}}{{end}}" data-position="bottom center" data-variation="tiny">
								<button type="submit" class="ui button {{if $.CanUserAcceptTransfer}}green {{end}} ok inverted small"{{if not $.CanUserAcceptTransfer}} disabled{{end}}>
									{{$.i18n.Tr "repo.transfer.accept"}}
								</button>
							</div>
						</form>
						<form method="post" action="{{$.RepoLink}}/action/reject_transfer?redirect_to={{$.RepoLink}}">
							{{$.CsrfTokenHtml}}
							<div class="ui poping up" data-content="{{if $.CanUserAcceptTransfer}}{{$.i18n.Tr "repo.transfer.reject_desc" $.RepoTransfer.Recipient.DisplayName}}{{else}}{{$.i18n.Tr "repo.transfer.no_permission_to_reject"}}{{end}}" data-position="bottom center" data-variation="tiny">
								<button type="submit" class="ui button {{if $.CanUserAcceptTransfer}}red {{end}}ok inverted small"{{if not $.CanUserAcceptTransfer}} disabled{{end}}>
									{{$.i18n.Tr "repo.transfer.reject"}}
								</button>
							</div>
						</form>
					{{end}}
					<form method="post" action="{{$.RepoLink}}/action/{{if $.IsWatchingRepo}}un{{end}}watch?redirect_to={{$.Link}}">
						{{$.CsrfTokenHtml}}
						<div class="ui labeled button{{if not $.IsSigned}} poping up{{end}}" tabindex="0"{{if not $.IsSigned}} data-content="{{$.i18n.Tr "repo.watch_guest_user" }}" data-position="top center" data-variation="tiny"{{end}}>
							<button type="submit" class="ui compact small basic button"{{if not $.IsSigned}} disabled{{end}}>
								{{if $.IsWatchingRepo}}{{svg "octicon-eye-closed" 16}}{{$.i18n.Tr "repo.unwatch"}}{{else}}{{svg "octicon-eye"}}{{$.i18n.Tr "repo.watch"}}{{end}}
							</button>
							<a class="ui basic label" href="{{.Link}}/watchers">
								{{CountFmt .NumWatches}}
							</a>
						</div>
					</form>
					{{if not $.DisableStars}}
						<form method="post" action="{{$.RepoLink}}/action/{{if $.IsStaringRepo}}un{{end}}star?redirect_to={{$.Link}}">
							{{$.CsrfTokenHtml}}
							<div class="ui labeled button{{if not $.IsSigned}} poping up{{end}}" tabindex="0"{{if not $.IsSigned}} data-content="{{$.i18n.Tr "repo.star_guest_user" }}" data-position="top center" data-variation="tiny"{{end}}>
								<button type="submit" class="ui compact small basic button"{{if not $.IsSigned}} disabled{{end}}>
									{{if $.IsStaringRepo}}{{svg "octicon-star-fill"}}{{$.i18n.Tr "repo.unstar"}}{{else}}{{svg "octicon-star"}}{{$.i18n.Tr "repo.star"}}{{end}}
								</button>
								<a class="ui basic label" href="{{.Link}}/stars">
									{{CountFmt .NumStars}}
								</a>
							</div>
						</form>
					{{end}}
					{{if and (not .IsEmpty) ($.Permission.CanRead $.UnitTypeCode)}}
						<div class="ui labeled button{{if not $.CanSignedUserFork}} poping up disabled{{end}}"{{if and (not $.CanSignedUserFork) $.IsSigned}} data-content="{{$.i18n.Tr "repo.fork_from_self"}}" {{else if not $.IsSigned}} data-content="{{$.i18n.Tr "repo.fork_guest_user"}}"{{end}} data-position="top center" data-variation="tiny" tabindex="0">
							<a class="ui compact small basic button"{{if $.CanSignedUserFork}} href="{{AppSubUrl}}/repo/fork/{{.ID}}"{{end}}>
								{{svg "octicon-repo-forked"}}{{$.i18n.Tr "repo.fork"}}
							</a>
							<a class="ui basic label" href="{{.Link}}/forks">
								{{CountFmt .NumForks}}
							</a>
						</div>
					{{end}}
				</div>
			{{end}}
		</div><!-- end grid -->
	</div><!-- end container -->
{{end}}
	<div class="ui tabs container">
		{{if not .Repository.IsBeingCreated}}
			<div class="ui tabular stackable menu navbar">
				{{if .Permission.CanRead $.UnitTypeCode}}
				<a class="{{if .PageIsViewCode}}active{{end}} item" href="{{.RepoLink}}{{if (ne .BranchName .Repository.DefaultBranch)}}/src/{{.BranchNameSubURL | EscapePound}}{{end}}">
					{{svg "octicon-code"}} {{.i18n.Tr "repo.code"}}
				</a>
				{{end}}

				{{if .Permission.CanRead $.UnitTypeIssues}}
					<a class="{{if .PageIsIssueList}}active{{end}} item" href="{{.RepoLink}}/issues">
						{{svg "octicon-issue-opened"}} {{.i18n.Tr "repo.issues"}}
						{{if .Repository.NumOpenIssues}}
							<span class="ui blue small label">{{CountFmt .Repository.NumOpenIssues}}</span>
						{{end}}
					</a>
				{{end}}

				{{if .Permission.CanRead $.UnitTypeExternalTracker}}
					<a class="{{if .PageIsIssueList}}active{{end}} item" href="{{.RepoExternalIssuesLink}}" target="_blank" rel="noopener noreferrer">
						{{svg "octicon-link-external"}} {{.i18n.Tr "repo.issues"}} </span>
					</a>
				{{end}}

				{{if and .Repository.CanEnablePulls (.Permission.CanRead $.UnitTypePullRequests)}}
					<a class="{{if .PageIsPullList}}active{{end}} item" href="{{.RepoLink}}/pulls">
						{{svg "octicon-git-pull-request"}} {{.i18n.Tr "repo.pulls"}}
						{{if .Repository.NumOpenPulls}}
							<span class="ui blue small label">{{CountFmt .Repository.NumOpenPulls}}</span>
						{{end}}
					</a>
				{{end}}

				{{ if and (not .UnitProjectsGlobalDisabled) (.Permission.CanRead $.UnitTypeProjects)}}
					<a href="{{.RepoLink}}/projects" class="{{ if .IsProjectsPage }}active{{end}} item">
						{{svg "octicon-project"}} {{.i18n.Tr "repo.project_board"}}
						{{if .Repository.NumOpenProjects}}
							<span class="ui blue small label">{{CountFmt .Repository.NumOpenProjects}}</span>
						{{end}}
					</a>
				{{ end }}

				{{if and (.Permission.CanRead $.UnitTypeReleases) (not .IsEmptyRepo) }}
				<a class="{{if .PageIsReleaseList}}active{{end}} item" href="{{.RepoLink}}/releases">
					{{svg "octicon-tag"}} {{.i18n.Tr "repo.releases"}}
					{{if .NumReleases}}
						<span class="ui blue small label">{{CountFmt .NumReleases}}</span>
					{{end}}
				</a>
				{{end}}

				{{if or (.Permission.CanRead $.UnitTypeWiki) (.Permission.CanRead $.UnitTypeExternalWiki)}}
					<a class="{{if .PageIsWiki}}active{{end}} item" href="{{.RepoLink}}/wiki" {{if (.Permission.CanRead $.UnitTypeExternalWiki)}} target="_blank" rel="noopener noreferrer" {{end}}>
						{{svg "octicon-book"}} {{.i18n.Tr "repo.wiki"}}
					</a>
				{{end}}

				{{if and (.Permission.CanReadAny $.UnitTypePullRequests $.UnitTypeIssues $.UnitTypeReleases) (not .IsEmptyRepo)}}
					<a class="{{if .PageIsActivity}}active{{end}} item" href="{{.RepoLink}}/activity">
						{{svg "octicon-pulse"}} {{.i18n.Tr "repo.activity"}}
					</a>
				{{end}}

				{{template "custom/extra_tabs" .}}

				{{if .Permission.IsAdmin}}
					<div class="right menu">
						<a class="{{if .PageIsSettings}}active{{end}} item" href="{{.RepoLink}}/settings">
							{{svg "octicon-tools"}} {{.i18n.Tr "repo.settings"}}
						</a>
					</div>
				{{end}}
			</div>
		{{end}}
	</div>
	<div class="ui tabs divider"></div>
</div>
